<!DOCTYPE html>
<html>
  <%- include('partials/helmet.ejs', {title: 'csgodoku'}) %>
  <body>
    <div class="w-full min-h-screen flex flex-col justify-center items-center bg-black">
      <div class="flex flex-row justify-center">
        <div class="flex flex-col">
          <div class="flex flex-row">
            <div class="h-36 w-36"></div>
            <% for (let i = 0; i < 3; i++) { %>
              <%- displayClue(puzzle[i]) %>
            <% } %>
          </div>
          <div class="flex flex-row">
            <div class="flex flex-col">
              <% for (let i = 3; i < 6; i++) { %>
                <%- displayClue(puzzle[i]) %>
              <% } %>
            </div>
            <div class="grid grid-cols-3 rounded-2xl border overflow-hidden">
              <% for (let i = 0; i < 9; i++) { %>
                <div class="flex flex-col h-36 w-36 items-center justify-center border-white <%= getBorders(i) %> cursor-pointer bg-slate-800 hover:bg-slate-600 transition-colors" onclick="openPopup(<%= i %>)">
                </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center text-2xl ml-6 text-white pt-36">
          <div>
            you have
          </div>
          <div class="text-6xl font-bold" id="rounds-left">
            9
          </div>
          <div>
            round<span id="rounds-plural">s</span> left
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-center items-center absolute z-0 top-0 w-full min-h-screen hidden" id="player-popup" onclick="closePopup()">
      <div class="flex flex-col items-center justify-center p-4 w-96 z-10 bg-gray-400 rounded-xl">
        <div>
          pepe
        </div>
        <div class="mt-4">
          <div class="rounded-lg bg-blue-500 w-80 text-center py-2 font-bold cursor-pointer" onclick="closePopup()">
            close
          </div>
        </div>
      </div>
    </div>
    <script>
      function closePopup() {
        document.getElementById('player-popup').classList.add('hidden')
      }
      function openPopup(ind) {
        document.getElementById('player-popup').classList.remove('hidden')
      }
      const players = <%- JSON.stringify(players) %>
    </script>
  </body>
</html>
