<!DOCTYPE html>
<html>
  <%- include('partials/helmet.ejs', {title: 'csgodoku - infinite puzzle settings'}) %>
  <body>
    <div class="w-full absolute top-0 flex flex-row px-4 py-2 border-b border-white items-center justify-between text-white">
      <div class="text-xl md:text-3xl cursor-pointer">
        <a href="/" class="w-full h-full">CSGODOKU</a> - infinite mode
      </div>
      <div class="flex flex-row">
        <!-- <div class="flex flex-col">
          <div class="font-bold" id="next-puzzle-timer"></div>
          <div class="font-semibold">until next puzzle</div>
        </div> -->
        <div class="text-base md:text-xl cursor-pointer">
          <a href="/" class="w-full h-full">back to original</a>
        </div>
      </div>
    </div>
    <div class="w-full h-screen flex flex-col items-center justify-center bg-gray-850">
      <div class="text-3xl md:text-5xl text-white mb-8 font-bold">infinite mode settings</div>
      <div class="flex flex-col items-center justify-center">
        <div class="text-xl md:text-2xl text-white font-semibold">minimum possible players per spot</div>
        <div class="text-base md:text-lg text-white">every spot in the grid must have at least <span class="font-bold">X</span> valid players</div>
        <div class="flex flex-row justify-center mt-1 gap-12">
          <% [1, 3, 5, 10].forEach((num) => { %>
            <div class="text-white text-4xl hover:font-bold cursor-pointer min-player-selector" id="min-players-<%= num %>" onclick="changeMinPlayers(<%= num %>)"><%= num %></div>
          <% }) %>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center mt-6">
        <div class="text-xl md:text-2xl text-white font-semibold">historically top ranking teams</div>
        <div class="text-base md:text-lg text-white">only use teams that have been in the top <span class="font-bold">X</span> ranking of teams</div>
        <div class="flex flex-row justify-center mt-1 gap-12">
          <% [10, 20, 30, 'any'].forEach((num) => { %>
            <div class="text-white text-4xl hover:font-bold cursor-pointer top-team-selector" id="top-team-<%= num %>" onclick="changeTopTeam('<%= num %>')"><%= num %></div>
          <% }) %>
        </div>
      </div>
      <div class="font-bold text-xl rounded-lg bg-blue-500 mt-6 px-4 py-2 cursor-pointer" onclick="generatePuzzle()">
        generate!
      </div>
    </div>
    <script>
      document.getElementById("min-players-<%= infiniteSettings.minPlayers %>").classList.add("font-bold")
      document.getElementById("top-team-<%= infiniteSettings.teamRank %>").classList.add("font-bold")

      function changeMinPlayers(num) {
        document.querySelectorAll('.min-player-selector').forEach((elm) => {
          elm.classList.remove("font-bold")
        })
        document.getElementById(`min-players-${num}`).classList.add("font-bold")
      }

      function changeTopTeam(num) {
        document.querySelectorAll('.top-team-selector').forEach((elm) => {
          elm.classList.remove("font-bold")
        })
        document.getElementById(`top-team-${num}`).classList.add("font-bold")
      }

      function generatePuzzle() {
        const minPlayers = document.querySelector('.min-player-selector.font-bold').id.split('-')[2]
        const topTeam = document.querySelector('.top-team-selector.font-bold').id.split('-')[2]

        window.location.href = `/loadInfinite?minPlayers=${minPlayers}&topTeam=${topTeam}`
      }
    </script>
  </body>
</html>
